/** VOS $VARIABLES Sass ici avant l'importation**/
$primary: #5e97f6;
$secondary: #f28500;
$body-bg: #dae2e0;
$info: #dae2e0;
$light: #aabdca;
$dark: #2d353e;

/* POLICE DES TITRES */
$headings-font-family: "Oswald";
/* POLICE DU TEXTE */
$font-family-base: "Roboto";

/*** Importation de Boostrap + POLICES **/
@import "partials/bootstrap";
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

/*** Début des styles personnalisés ***/
.mega-titre {
  font-size: 6vw;
}

.card-tache {
  height: 50rem;
}

.w-15{
  width: 15%;
}

.w-26{
  width: 26%;
}

.ms-4-5{
  margin-left: 1.85rem;
}

.me-2-5{
  margin-right: 1rem;
}

.animcheck {
  transition: transform 0.5s ease-in-out;
}

.animcheck:hover {
    transform:translate(50%);
    transition-duration: 1s;
    transition-timing-function:ease-in-out;
}
