/** VOS $VARIABLES Sass ici avant l'importation**/
$primary: #6ABDD8; 
$secondary: #F28500;
$body-bg: #E5EFEC;
$info: #E5EFEC;
$light: #AABDCA; 
$dark: #2D353E;

/* POLICE DES TITRES */
$headings-font-family: "Oswald";
/* POLICE DU TEXTE */
$font-family-base: "Roboto";

/*** Importation de Boostrap + POLICES **/
@import "partials/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/*** Début des styles personnalisés ***/
